@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* GLOBAL STYLES */
* {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Mono', monospace;
}

:root {
  --primary: #000;
  --secondary: #fff;
  --tertiary: #b87333;

  background-size: cover;
  background-position: center, center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url('./assets/L_V_Flores_montanas_con_un_paisaje_lluvioso.webp');
  color: var(--secondary);
}

#loading-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(3px);
}

.welcome-container {
  display: inline-block;
}

.welcome-text {
  border-right: 0.15em solid var(--tertiary);
  font-size: 2em;
  letter-spacing: 1rem;
  overflow: hidden;
  white-space: nowrap;
  width: 98%;
  opacity: 0;
}

.welcome-text-mobile {
  border-right: 0.15em solid var(--tertiary);
  font-size: 2em;
  letter-spacing: 1rem;
  overflow: hidden;
  white-space: nowrap;
  width: 98%;
  opacity: 0;
}

.welcome-animation {
  opacity: 1;
  animation:
    typing 2s steps(26),
    blink-caret 0.5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0; }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  50% { border-color: transparent; }
}

@media only screen and (max-width: 768px) {
  .welcome-text {
    font-size: 1em;
    letter-spacing: 0;
    width: 99%;
  }
}
